{{!-- Persistent NavBar --}}
{{!-- {{>navBar}} --}}
{{!-- category prompt question --}}
<h4 id="creationTitle">Add a new Category: </h4>
{{!-- Create Category Input --}}
<div class="newBusinessForm starRating vert-line">
  <form>
    <div class="">
      <label for="categoryName">Write new category name: </label>
      </br>
      <input type="text" id="categoryName" class="form-control" placeholder="Category to create">
    </div>
    <div class="">
      <br>
      <button id="submitCategory" type="submit" class="btn btn-info">Create Category</button>
    </div>
  </form>
</div>



