{{!-- Persistent NavBar --}}
{{!-- {{>navBar}} --}}
{{!-- category prompt question --}}
<h4 id="creationTitle">Add a new Category: </h4>
{{!-- Create Category Input --}}
<div class="newBusinessForm">
  <form>
    <div class="input-group mb-3">
      <label for="categoryName">Write new category name: </label>
      <input type="text" id="categoryName" class="form-control" placeholder="Category to create">
    </div>
    <div class="input-group mb-3">
      <button id="submitCategory" type="submit" class="btn btn-primary">Create Category</button>
    </div>
  </form>
</div>

<hr style="border:3px solid #f1f1f1">


