<footer style="margin-top: 100px;">
   <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom">
      <div class="navbar-text mx-auto">
         <div class="text-light">
            &copy; Handshake
         </div>
      </div>
   </div>
</footer>