<div class="jumbotron">
  <img class="logo" src="/assets/logoNoOpacity_200x200.png" alt="" srcset="">
  {{#if this}}
    <div class="searchBars">
      <input id="searchLocation" class="form-control" type="text" placeholder="Your Zip Code">
      <select id="selectCategory" class="form-control">
        <option>Select Category</option>
      </select>
      <button class="btn" href="#" role="button">Find Service</button>
    </div>
  {{/if}}
</div>