<nav class="navBar">
  <a href="/">
    <img class="logo" src="/assets/handshake_transparent.png" alt="" srcset="">
  </a>
  <ul class="navItems">
    <a class="navItem text-dark" href="/addService">+ Add a new service</a>
    <a class="navItem text-dark" href="/management">Menu</a>
  </ul>
</nav>