<nav class="navBar">
  <a href="/">
    <img class="logo" src="/assets/handshake_transparent.png" alt="" srcset="">
  </a>
  {{!-- <img class="logoType" src="/assets/LogoText-cropped.png" alt="" srcset=""> --}}
  <ul class="navItems">
    <a class="navItem" href="/createCategory">Create a new category</a>
    <a class="navItem" href="/addService">Offer your services</a>
    {{!-- <a class="navItem" href="#">Sign In</a>
      <a class="navItem" href="#">Sign Up</a> --}}
  </ul>
</nav>