<nav class="navBar">
  <img class="logo" src="/assets/handshake_gray.png" alt="" srcset="">
  {{!-- <img class="logoType" src="/assets/LogoText-cropped.png" alt="" srcset=""> --}}
  <ul class="navItems">
      <a class="navItem" href="#">Create a new category</a>
      <a class="navItem" href="#">Offer your services</a>
      <a class="navItem" href="#">Sign In</a>
      <a class="navItem" href="#">Sign Up</a>
  </ul>
</nav>