<nav class="navBar">
  <a href="/">
    <img class="logo" src="/assets/handshake_transparent.png" alt="" srcset="">
  </a>
  {{!-- <img class="logoType" src="/assets/LogoText-cropped.png" alt="" srcset=""> --}}
  <ul class="navItems">
    <a class="navItem text-dark" href="/addService">+ Add a new service</a>
    <a class="navItem text-dark" href="/management">Menu</a>
    {{!-- <a class="navItem" href="#">Sign In</a>
      <a class="navItem" href="#">Sign Up</a> --}}
  </ul>
</nav>
{{!-- <div class="container">
  </br>
  <div class="row">
    <div class="col-3">
      <a href="/servicesList" class="text-dark" style="font-weight: 600; font-size:24px">View all services</a>
    </div>
    <div class="col-9" style="font-weight: 500; font-size:20px">
      <label for="sendId">Search by Category: </label>
      <select id="sendId" class="" aria-labelledby="Service Business Category">
        <option class=""></option>
        {{#each data}}
        <option class="" value={{dataValues.id}} data-id={{dataValues.id}}>{{dataValues.categoryName}}</option>
        {{/each}}
      </select>
        <button id="goButton"><a id="viewService" style="font-weight: 500; font-size:20px" >View services <i class="fas fa-arrow-right"></i></a></button>
    </div>
  </div>
  <hr style="border:3px solid #f1f1f1">
</div> --}}
