{{!-- Persistent NavBar --}}
{{!-- {{>navBar}} --}}
{{!-- User Sign In Form --}}
<h4 id="creationTitle">Add a new user: </h4>
{{!-- Create Category Input --}}
<div class="newBusinessForm">
  <form>
    <div class="input-group mb-3">
      <label for="userName">Writte a username: </label>
      <input type="text" class="form-control" id="userName">
    </div>
    <div class="input-group mb-3">
      <label for="name">Writte your name: </label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="input-group mb-3">
      <label for="lastName">Writte your last name: </label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="input-group mb-3">
      <label for="email">Writte your email: </label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="input-group mb-3">
      <button type="submit" id="userForm" class="btn btn-primary">Create user</button>
    </div>
    {{!-- this section should send the user to the sign-up page --}}
  </form>
</div>

<hr style="border:3px solid #f1f1f1">