{{!-- Persistent NavBar --}}

{{!-- User Sign In Form --}}
<h4 id="creationTitle">Add a new user: </h4>
{{!-- Create Category Input --}}
<div class="newBusinessForm starRating vert-line">
  <form id="userForm2">
    <div class="">
      <label for="userName">Write a username: </label>
      <input type="text" class="form-control" id="userName">
    </div>
    <div class="">
      <label for="name">Write your name: </label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="">
      <label for="lastName">Write your last name: </label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="">
      <label for="email">Write your email: </label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="">
      <br>
      <button type="submit" id="userForm" class="btn btn-info">Create user</button>
    </div>
    {{!-- this section should send the user to the sign-up page --}}
  </form>
</div>
{{!-- Successful Toast --}}
<div class="toast userSuccessful" role="alert" aria-live="assertive" id="userCreated" aria-atomic="true">
  <div class="toast-header">
    <img src="https://www.benevablack.com/wp-content/uploads/2018/12/check-mark-green-tick-mark.png" style="width: 20px; height: 20px" class="rounded mr-2" alt="...">
    <strong class="mr-auto">Success!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    User created successfully!
  </div>
</div>
{{!-- Unsuccessful Toast --}}
<div class="toast userUnSuccessful" role="alert" aria-live="assertive" id="userNotCreated" aria-atomic="true">
  <div class="toast-header">
    <img src="https://www.botlibre.biz/media/a532564-0.png" style="width: 20px; height: 20px" class="rounded mr-2" alt="...">
    <strong class="mr-auto">Fail!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Uh oh! Please try again.
  </div>
</div>