{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Dropbox --}}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="Service Business Category">
    <a class="dropdown-item" href="/servicesList">Carpentry</a>
    <a class="dropdown-item" href="/servicesList">Computer Repair/IT Service</a>
    <a class="dropdown-item" href="/servicesList">Dry-Cleaning</a>
    <a class="dropdown-item" href="/servicesList">Electrician</a>
    <a class="dropdown-item" href="/servicesList">Locksmith</a>
    <a class="dropdown-item" href="/servicesList">Mechanic</a>
    <a class="dropdown-item" href="/servicesList">Movers</a>
    <a class="dropdown-item" href="/servicesList">Pet Grooming</a>
    <a class="dropdown-item" href="/servicesList">Plumbing</a>
    <a class="dropdown-item" href="/servicesList">Seamstress/Tailor</a>
  </div>
</div>
{{!-- Business Form Details --}}
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="First Name" aria-label="First Name">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Address" aria-label="address">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Business Phone Number" aria-label="Phone Number">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Tell us about your business</span>
  </div>
  <textarea class="form-control" aria-label="Details textarea"></textarea>
</div>

