{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- category prompt question --}}
<br>
<br>
<h4 id="creationTitle">Category Creation Station</h4>
{{!-- Create Category Input --}}
<hr style="border:3px solid #f1f1f1">
<br>
<div class="categoryForm" id="formSpace">
  <form class = "newCategory">
    <div class="creationForm">
      <div class="col">
        <input type="text" id="categoryName" class="form-control" placeholder="Category to create">
      </div>
      <!--<div class="col">
        <input type="text" class="form-control" placeholder="Product or service">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Input Image">
        <img src="" alt="">
      </div>-->
      <button id="submitCategory" type="submit" class="btn btn-cat">Create Category</button>
    </div>
  </form>
</div>