{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Create Category Input --}}
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Category">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Product">
    </div>
    <button type="button" class="btn btn-success">Create Category</button>
  </div>
</form>
