
<div class="container">
  <div class="row">
    <div class="content">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <img src="http://www.congratulations-info.com/wp-content/uploads/2020/03/Pet-Grooming-Supplieszdvf.jpg"
              class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName">Welcome to Handshake!</h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="https://makeallclean.com/blog/wp-content/uploads/2019/07/blg-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName" >You can scroll below to find all the services posted in your area, or go to view All Services</h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="https://www.oneshotplumbing.com/wp-content/uploads/2017/03/plumbing-services.jpg"
              class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName">You can also post a new category and service if you have a business in this area!</h2>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  {{!-- Cards section begins here --}}
  <br>
  <div class="">
    <h2 id="zipCodeS">Services around your area</h2>
    <p ></p>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-3" id="homeZipServices">

  </div>
</div>

<script src="/js/renderOneServiceZip.js"></script>