{{>jumbotron showSearchBar}}
<div class="addService">
  <h2>Add a Service</h2>
  <br>
  <form class="create-form">
    <div class="form-group">
      <label for="se">Service Title:</label>
      <input type="text" id="se" name="name">
      <br>
      <label for="exampleFormControlTextarea1">Description: </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <button type="submit">Add Service</button>
  </form>
</div>