
<div class="container">
  <div class="row">
    <div class="content">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <img src="http://www.congratulations-info.com/wp-content/uploads/2020/03/Pet-Grooming-Supplieszdvf.jpg"
              class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName"><a href="/servicesList">Pet Grooming</a></h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="https://makeallclean.com/blog/wp-content/uploads/2019/07/blg-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName"><a href="/servicesList">Dry-Cleaning</a></h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="https://www.oneshotplumbing.com/wp-content/uploads/2017/03/plumbing-services.jpg"
              class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="serviceName"><a href="/servicesList">Plumbing Services</a></h2>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  {{!-- Cards section begins here --}}
  <div class="">
    <h2>Services around your area</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service title</h5>
          <div class="row text-center">
            <div class="col-6">
              <p class="card-text"><small class="text-muted">(Category)</small></p>
            </div>
            <div class="col-6">
              <p class="card-text"><small class="text-muted">Rating: 5 stars</small></p>
            </div>
          </div>
          <p class="card-text">Here goes the service description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Phone number: 5512345678</p>
          <div class="text-center">
            <a href="#" class="btn btn-info">View details</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added by: alanV</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service title</h5>
          <div class="row text-center">
            <div class="col-6">
              <p class="card-text"><small class="text-muted">(Category)</small></p>
            </div>
            <div class="col-6">
              <p class="card-text"><small class="text-muted">Rating: 5 stars</small></p>
            </div>
          </div>
          <p class="card-text">Here goes the service description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Phone number: 5512345678</p>
          <div class="text-center">
            <a href="#" class="btn btn-info">View details</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added by: alanV</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service title</h5>
          <div class="row text-center">
            <div class="col-6">
              <p class="card-text"><small class="text-muted">(Category)</small></p>
            </div>
            <div class="col-6">
              <p class="card-text"><small class="text-muted">Rating: 5 stars</small></p>
            </div>
          </div>
          <p class="card-text">Here goes the service description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Phone number: 5512345678</p>
          <div class="text-center">
            <a href="#" class="btn btn-info">View details</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added by: alanV</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service title</h5>
          <div class="row text-center">
            <div class="col-6">
              <p class="card-text"><small class="text-muted">(Category)</small></p>
            </div>
            <div class="col-6">
              <p class="card-text"><small class="text-muted">Rating: 5 stars</small></p>
            </div>
          </div>
          <p class="card-text">Here goes the service description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Phone number: 5512345678</p>
          <div class="text-center">
            <a href="#" class="btn btn-info">View details</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added by: alanV</small>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Service title</h5>
          <div class="row text-center">
            <div class="col-6">
              <p class="card-text"><small class="text-muted">(Category)</small></p>
            </div>
            <div class="col-6">
              <p class="card-text"><small class="text-muted">Rating: 5 stars</small></p>
            </div>
          </div>
          <p class="card-text">Here goes the service description This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Phone number: 5512345678</p>
          <div class="text-center">
            <a href="#" class="btn btn-info">View details</a>
          </div>
        </div>
        <div class="card-footer">
          <small class="text-muted">Added by: alanV</small>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    getLocation();
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Sorry, but Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var lat = 19.368675/*position.coords.latitude*/;
        var long = -99.259228 /*position.coords.longitude*/;
        //console.log(lat, long);
        var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long + "&key=AIzaSyBcaAnYXn42whS3AAvvwoCkjsE4pbdihwU";
        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (msg) {
                var results = msg.results;
                zip = results[0].address_components[5].long_name;
                alert("Your Zip Code is: " + zip);
                console.log("Your Zip Code is: " + zip);
                return zip;
            },
            error: function (req, status, error) {
                alert('Sorry, an error occurred.');
                console.log(req.responseText);
            }
        });
        
    }
</script>