{{>navBar}}
<br>
<!--<div class="selectionTop">
  <div class="dropdown selectService" id="selectCategory">
    <button class="btn btn-info dropdown-toggle" type="button" id="selectServiceButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Select Service
    </button>-->
    <div>
      <select id="sendId" class="dropdown" aria-labelledby="Service Business Category">
        <option class="dropdown-item"></option>
        {{#each data}}
        <option class="dropdown-item" value={{dataValues.id}} data-id={{dataValues.id}}>{{dataValues.categoryName}}</option>
        {{/each}}
      </select>
      <button id="goButton"><a id="viewService"><i class="fas fa-arrow-right"></i></a></button>
    </div>
  <!--</div>
</div>-->
  <h3><a href="/servicesList">All Services</a></h3>
<br>

<div class="content">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <img src="http://www.congratulations-info.com/wp-content/uploads/2020/03/Pet-Grooming-Supplieszdvf.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="serviceName"><a href="/servicesList">Pet Grooming</a></h2>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="https://makeallclean.com/blog/wp-content/uploads/2019/07/blg-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="serviceName"><a href="/servicesList">Dry-Cleaning</a></h2>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="https://www.oneshotplumbing.com/wp-content/uploads/2017/03/plumbing-services.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="serviceName"><a href="/servicesList">Plumbing Services</a></h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>