{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Client adds review here --}}
<br>
<div class="container">
  <h4 id="servTit">Service title</h4>
  <div class="reviewSection vert-line">
    <form class="review" id="addNewReview">
      <div>
        <label for="userSelectRev">Select your user: </label>
        <select id="userSelectRev" class="form-control" aria-labelledby="Service Business Category">
          {{#each userRev}}
          <option class="dropdown-item" value={{dataValues.id}} data-id={{dataValues.id}}>{{dataValues.userName}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="">
        <label for="subject">Title: </label>
        <input type="text" id="subject" class="form-control" placeholder="Review Title">
      </div>
      <div class="">
        <label for="comment">Write your review here: </label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
        <br>
      </div>
      <div class="">
        <label for="rating">Rating value: </label>
        <input id="rating" type="text" class="form-control" placeholder="Review Rating">
      </div>
      <br>
      <button type="submit" class="btn btn-info" id="reviewSubmit">Submit Review</button>
    </form>
  </div>
</div>
{{!-- Successful Toast --}}
<div class="toast reviewSuccessful" role="alert" aria-live="assertive" id="reviewCreated" aria-atomic="true">
  <div class="toast-header">
    <img src="https://www.benevablack.com/wp-content/uploads/2018/12/check-mark-green-tick-mark.png"
      style="width: 20px; height: 20px" class="rounded mr-2" alt="...">
    <strong class="mr-auto">Success!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Review created successfully!
  </div>
</div>
{{!-- Unsuccessful Toast --}}
<div class="toast reviewUnSuccessful" role="alert" aria-live="assertive" id="reviewNotCreated" aria-atomic="true">
  <div class="toast-header">
    <img src="https://www.botlibre.biz/media/a532564-0.png" style="width: 20px; height: 20px" class="rounded mr-2"
      alt="...">
    <strong class="mr-auto">Fail!</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Uh oh! Please try again.
  </div>
</div>