{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Client Star Rates Here --}}
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>

{{!-- Client adds review here --}}
<form class="review">
    <input class="form-control" type="text" placeholder="your username">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write your review here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-success">Submit Review</button>
</form>