{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Service Details Bar --}}
<br>
<div class="container">
  {{!-- Service Details --}}
  <h3 id="serviceTitle" style="float: left;"></h3><span id="serviceCategory"></span>
  <br>
  <br>
  <div class="detailsSection vert-line">
    <br>
    <p id="serviceDescription"></p>
    <p id="serviceContactInfo"></p>
    <p id="servicePhoneNum"></p>
    <p id="serviceZipCode"></p>
  </div>
  <hr style="border:3px solid #f1f1f1">
  <h3>All Reviews</h3>
  <div class="starRating vert-line" id="reviewsSection">
    <div class="container noReviews" id="noReviews">
      <h2 class="noReviews-text">No reviews for this person!</h2>
    </div>
  </div>
</div>
<script src="../js/serviceDetails.js"></script>