{{!-- Persistent NavBar --}}
{{>navBar}}
{{!-- Service Details Bar --}}
<br>
<div class="starRating vert-line">
  <span class="heading">Client Rating</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <p>4.1 average based on 254 reviews.</p>
</div>
<hr style="border:3px solid #f1f1f1">
{{!-- Service Details --}}
<div class="detailsSection vert-line">
  <h3>Business Name Goes Here</h3>
  <p>Service Details go here</p>
  <a href="/reviews">
    <button type="button" class="btn btn-cat addReviewBtn">Add Your Review</button>
  </a>
</div>