{{!-- Persisting NavBar --}}

<div class="container">
  {{!-- title --}}
  <h4 id="serviceListTitle">Your List of Services</h4>
  {{!-- service list table --}}
  <br>
  <div class= "table-container">
  <table id="servicesTable" class="services">
    <thead>
    <tr>
      <th>Service</th>
      <th>Phone Number</th>
      <th>Details</th>
      <th>New Review</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>
      <td>Carpentry</td>
      <td>5</td>
      <td><a href="/serviceDetails">Details</a></td>
      <td><a href="/reviews">New Review</a></td>
    </tr>-->
    </tbody>
  </table>
  </div>
</div>