{{!-- Persisting NavBar --}}
{{>navBar}}
{{!-- All Services List --}}
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Service</li>
  <li class="list-group-item"># of STARS</li>
  <li class="list-group-item">Details</li>
  <li class="list-group-item">New Review</li>
</ul>
